<!-- <p id="notice"><%#= notice %></p> -->

<div class="card mb-4">
  <div class="row no-gutters">
    <div class="col-md-2">
      <p class="text-center mt-3">
        <% if @question.user.profile_picture.attached? %>
        <%= link_to user_path(@question.user.id), class: "text-decoration-none text-dark" do %>
        <%= image_tag @question.user.profile_picture, class: "rounded-circle border border-primary shadow", size: "75x75" %>
        <br>
        <%= @question.user.first_name.capitalize %>
        <% end %>
        <% else %>
        <%= link_to user_path(@question.user.id), class: "text-decoration-none text-dark" do %>
        <%= image_tag "148705-essential-collection/png/user-3.png", class: "img-fluid", size: "75x75" %>
        <br>
        <%= @question.user.first_name.capitalize %>
        <% end %>
        <% end %>
      </p>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <p class="card-text m-0">
            <small>Il y as <%= time_ago_in_words(@question.created_at) %>.</small>
          </p>
          <p class="card-text m-0">
            <small>Catégorie : <%= @question.category.name %></small>
          </p>
        </div>

        <h5 class="card-title font-weight-bold">
          <%= link_to @question.title.capitalize.truncate_words(6), question_path(@question.id), class: "text-dark text-decoration-none" %>
        </h5>

        <p class="card-text">
          <%= @question.description.capitalize.truncate_words(25) %>
        </p>

        <ul class="list-unstyled list-unline">
          <li>tags</li>
        </ul>

        <div class="bg-light py-3 px-2 d-flex justify-content-between">
          <p class="">
            <i class="fas fa-comment-alt"></i>&nbsp; 
            <span class="badge">
              <% if @question.answers.present? %>
              <% if @question.answers.count <= 1 %>
              <%= @question.answers.count %> réponse
              <% else %>
              <%= @question.answers.count %> réponses
              <% end %>
              <% else %>
              0 réponse
              <% end %>
            </span>
          </p>
          <p class="">
            <% if @question.impressionist_count > 1%>
            <span class="badge">
              <i class="fas fa-eye"></i>&nbsp; 
              <%= "#{@question.impressionist_count} vues" %>
            </span>
            <% else %>
            <span class="badge">
              <i class="fas fa-eye"></i>&nbsp; 
              <%= "#{@question.impressionist_count} vue" %>
            </span>
            <% end %>
          </p>
          <p class="">
            follower
          </p>
          <p class="mb-0">
            <%#= link_to "Voir les réponses", question_path(@question), class: "btn btn-dark btn-sm" %>
            <%#= link_to "Répondre", new_question_answer_path(@question), class: "btn btn-primary btn-block" %>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalQuestionSHowPage">
              Répondre
            </button>
          </p>
        </div>

      </div>
    </div>

    <% if @question.user == current_user %>
    <div class="col-lg-12">
      <div class="container">
        <hr>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <%= link_to edit_question_path(@question), class: "text-decoration-none text-dark"  do %>
            <i class="fas fa-edit"></i>&nbsp; Modifier
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to question_path(@question), method: :delete, data: {confirm: "êtes-vous sûre de suprimer la question ?"}, class: "text-decoration-none text-dark" do %>
            <i class="fas fa-eraser"></i>&nbsp; Suprimer
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

<h2>Les réponses</h2>

<% @answers.each do |answer| %>
<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-md-2">
      <p class="text-center mt-3">
        <% if answer.user.profile_picture.attached? %>
        <%= link_to user_path(answer.user.id), class: "text-decoration-none text-dark" do %>
        <%= image_tag answer.user.profile_picture, class: "rounded-circle border border-primary shadow", size: "75x75" %>
        <br>
        <%#= answer.user.first_name.capitalize %>
        <% end %>
        <% else %>
        <%= link_to user_path(answer.user.id), class: "text-decoration-none text-dark" do %>
        <%= image_tag "148705-essential-collection/png/user-3.png", class: "img-fluid", size: "75x75" %>
        <br>
        <%#= answer.user.first_name.capitalize %>
        <% end %>
        <% end %>
      </p>
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex flex-column">
            <p class="card-text m-0">
              <span><%= answer.user.first_name.capitalize %></span>
            </p>
            <p>
              <small>Il y as <%= time_ago_in_words(answer.created_at) %></small>
            </p>
            <p class="card-text m-0">
              <small></small>
            </p>
          </div>
        </div>

        <p>
          <%= answer.description.capitalize.truncate_words(10) %>
        </p>

        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            upvote
          </li>
          <li class="list-inline-item">
            repondre
          </li>
          <li class="list-inline-item">
            Share
          </li>
          <li class="list-inline-item">
            Report
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 
<% end %>


<!-- Modal -->
<div class="modal fade" id="exampleModalQuestionSHowPage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "answers/form", answer: @answer  %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

