<header class="sticky-top <%= 'mb-5' if !user_signed_in? %>">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <% if user_signed_in? %>
            <%= link_to questions_path, class: "navbar-brand" do %>
            <h3 class="font-weight-bold mb-0">SOCIAL</h3>
            <% end %>
            <% else %>
            <%= link_to root_path, class: "navbar-brand" do %>
            <h3 class="font-weight-bold mb-0">SOCIAL</h3>
            <% end %>
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <% if user_signed_in? %>
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item mx-2">
                        <%= active_link_to "Tout les questions", questions_path, class: "nav-link", active: :exclusive %>
                    </li>
                    <li class="nav-item mx-2">
                        <%= active_link_to "Emplois de développeur", questions_path, class: "nav-link", active: :exclusive, data: {confirm: "Cette fonctionalité sera bientôt disponible"} %>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto text-center d-flex align-items-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell text-white fa-lg"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1">
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% if current_user.profile_picture.attached? && current_user.first_name.present? && current_user.last_name.present? %>
                            <%=  image_tag current_user.profile_picture, class: "rounded-circle", size: "40x40" %>&nbsp; <%= current_user.first_name.capitalize + " " + current_user.last_name.upcase %>
                            <% elsif !current_user.profile_picture.attached? && current_user.first_name.present? && current_user.last_name.present? %>
                            <%= current_user.first_name.capitalize + " " + current_user.last_name.upcase %>
                            <% elsif !current_user.profile_picture.attached? && current_user.first_name.present? and !current_user.last_name.present? %>
                            <%= current_user.first_name.capitalize %>
                            <% end %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="navbarDropdown2">
                            <%= link_to user_path(current_user), class: "dropdown-item" do %>
                            <i class="fas fa-user"></i>&nbsp; Mon profile
                            <% end %>
                            <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                            <i class="fas fa-cog"></i>&nbsp; Paramètre du compte
                            <% end %>
                            <%#= link_to "Info", root_path, class: "dropdown-item" %>
                            <%#= link_to "Info", root_path, class: "dropdown-item" %>
                            <div class="dropdown-divider"></div>
                            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item", data: { confirm: 'Voulez-vous vraiment vous déconnecter ?', commit: 'Oui', title: 'Alert', cancel: 'Annuler'} do %>
                                <i class="fas fa-sign-out-alt"></i>&nbsp; Se déconnecter
                            <% end %>
                        </div>
                    </li>
                </ul> 
                <% else %>
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item mx-2">
                        <%= active_link_to "À propos", root_path, class: "nav-link", active: :exclusive %>
                    </li>
                    <li class="nav-item mx-2">
                        <%= active_link_to "Blog", root_path, class: "nav-link", active: :exclusive %>
                    </li>
                    <li class="nav-item mx-2">
                        <%= active_link_to "Contact", root_path, class: "nav-link", active: :exclusive %>
                    </li>
                </ul>

                <ul class="list-inline ml-auto text-center mb-0">
                    <li class="list-inline-item">
                        <%= active_link_to "Se connecter", new_user_session_path, class: "btn btn-secondary" %>
                    </li>

                    <!-- <li class="list-inline-item">
                        <%#= active_link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary"%>
                    </li> -->
                </ul>
                <% end %>
            </div>
        </div>
    </nav>
</header>